.App {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to top, #14171a, #657786, #aab8c2);
  overflow: hidden;
}

.search-box {
  position: absolute;
  width: 50%;
  height: 20%;
  left: 5%;
  top: 15%;
}

.word-cloud {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px;
  top: 40%;
  left: 5%;
  height: 40%;
  width: 50%;
}

.see-tweets {
  position: absolute;
  left: 44%;
  bottom: 40%;
  background-color: #1da1f2;
  color: white;
  width: 12%;
  height: 15%;
}
