.App {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(#14171a, #657786, #aab8c2);
  overflow: hidden;
}

.keywords {
  position: absolute;
  top: 30%;
  width: 50%;
  height: 60%;
  left: 25%;
  overflow-y: auto;
}

.search-box {
  position: absolute;
  width: 50%;
  height: 20%;
  left: 25%;
  top: 10%;
}

#tooltip {
  font-size: 24px !important;
}
